<div class="mod-item">
  <div class="row">
    {% if mod.img %}
    <div class="col-md-3">
      {% include figure.liquid loading="eager" path=mod.img alt=mod.title class="img-fluid mod-thumbnail" %}
    </div>
    <div class="col-md-9">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      <h3 class="mod-title">{{ mod.title }}</h3>
      <p class="mod-description">{{ mod.description }}</p>
      {% if mod.version and mod.last_updated %}
        {% assign date_parts = mod.last_updated | split: '-' %}
        {% assign month = date_parts[1] | plus: 0 %}
        {% assign day = date_parts[2] | plus: 0 %}
        {% assign year = date_parts[0] %}
        <p class="mod-version">Version {{ mod.version }} (Updated: {{ month }}/{{ day }}/{{ year }})</p>
      {% endif %}
      <div class="mod-actions">
        {% if mod.install_url %}
          <a href="#" class="btn btn-sm btn-primary mod-install-btn" data-url="{{ mod.install_url }}">
            <i class="fa-solid fa-download"></i> Install
          </a>
        {% endif %}
        {% if mod.download_url %}
          {% assign filename = mod.title | downcase | replace: " ", "-" | append: ".txt" | prepend: "JLSbz-" %}
          <a href="#" class="btn btn-sm btn-secondary mod-download-btn" data-url="{{ mod.download_url }}" data-filename="{{ filename }}">
            <i class="fa-solid fa-file-download"></i> Download
          </a>
        {% endif %}
        {% if mod.requires_mod %}
          <button class="btn btn-sm btn-requires-mod" disabled>
            {{ mod.requires_mod }}
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="mod-divider">
</div>
